/* <--      Общая стилизация      -->*/
@import url("https://fonts.cdnfonts.com/css/post-no-bills-colombo?styles=20170");
@import url("//db.onlinewebfonts.com/c/13e8138aee988110dea31917657f5b65?family=SeoulHangang+M");
@font-face {
  font-family: "SeoulHangang M";
  src: url("//db.onlinewebfonts.com/t/13e8138aee988110dea31917657f5b65.eot");
  src: url("//db.onlinewebfonts.com/t/13e8138aee988110dea31917657f5b65.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/13e8138aee988110dea31917657f5b65.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/13e8138aee988110dea31917657f5b65.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/13e8138aee988110dea31917657f5b65.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/13e8138aee988110dea31917657f5b65.svg#SeoulHangang M")
      format("svg");
}

:root {
  --main-bg-color: #ffffff;
  --light-violet: #edebfc;
  --hovered-button: #7871de;
  --violet-color: #7871de;
  --normal-button: #09035d;
  --blue-color: #09035d;
  --active-button: #030848;
  --dark-blue: #030848;

  --text-blue: #09035d;
  --text-violet: #7871de;
  --black-color: #0f0f10;
  --green-color: #9fdb3d;

  --instagram-gradient: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    #f9ed32 0%,
    #ee2a7b 36%,
    #d22a8a 44%,
    #8b2ab2 60%,
    #1b2af0 83%,
    #002aff 88%
  );
  --facebook-color: #0b84ee;
  --vk-color: #0077ff;
  --telegram-color: #27a6e5;

  --font-bills-colombo: "Post No Bills Colombo", sans-serif;
  --font-seoul-hangang: "SeoulHangang M", sans-serif;
}

/* <--     Кнопки     -->*/

.button {
  font-family: var(--font-bills-colombo);
  font-style: normal;
  color: var(--main-bg-color);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--normal-button);

  box-shadow: 4px 4px 20px rgba(9, 3, 93, 0.1);

  border-radius: 4px;
  border: none;
}

.button:active {
  background-color: var(--active-button);
}

.button:hover {
  background-color: var(--hovered-button);
}

/* <--      header навигация      -->*/

.header {
  background-color: var(--light-violet);
  margin-left: auto;
  margin-right: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

.nav__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: var(--text-blue);
  font-family: var(--font-bills-colombo);
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

.nav__link:hover {
  color: var(--text-violet);
}

.nav__item {
  list-style-type: none;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.socials {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.socials__link {
  background-color: var(--violet-color);
  min-height: 24px;
  min-width: 24px;
}

.socials__link:has(> img) {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
}

.socials__link--instagram:hover {
  background: var(--instagram-gradient);
}
.socials__link--facebook:hover {
  background: var(--facebook-color);
}
.socials__link--vk:hover {
  background: var(--vk-color);
}
.socials__link--telegram:hover {
  background: var(--telegram-color);
}

/* <--     главный боард с фото     -->*/

.main-board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  width: 1000px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 3em;
  overflow: hidden;
}

.main-board__text-side {
  flex: 30% 1 1;

  max-width: 30%;

  border-radius: 20% 0 0 0;
  background-color: var(--main-bg-color);

  padding-left: 5%;
  padding-right: 6%;
  margin-right: 0;
}

.main-board__main-header {
  font-family: var(--font-seoul-hangang);
  color: var(--dark-blue);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;

  margin-top: 15%;
  margin-bottom: 5%;
}

.main-board__main-header--emphasis {
  color: var(--violet-color);
}

.main-board__text {
  font-family: var(--font-bills-colombo);
  color: var(--violet-color);
}

.main-board__button {
  margin-bottom: auto;
  margin-top: auto;
  width: 65%;
  height: 14%;
  padding-left: 20px;
  padding-right: 20px;
}

.main-board__photo-side {
  flex: 70% 1 2;
}

.main-board__img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

/* <--     Причины дрессировать собаку     -->*/
.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  max-width: 1000px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.reasons__item {
  box-sizing: border-box;
  justify-content: center;
  align-content: center;

  display: flex;
  flex-direction: column;

  max-width: 18%;
  padding-left: 2%;
  padding-right: 2%;

  text-align: center;
}

.reasons__header {
  font-family: var(--font-seoul-hangang);
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;

  margin-bottom: 0;
}

.reasons__explanation {
  font-family: var(--font-bills-colombo);
  color: var(--black-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;

  margin-top: 0;
}

/* <--     Блок main-header     -->*/

.main-header {
  font-family: var(--font-seoul-hangang);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100.02%;
}

/* <--     Блок cards     -->*/

.cards {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.cards__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards__card {
  width: 23%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: -4px -4px 20px rgba(120, 113, 222, 0.1),
    4px 4px 20px rgba(120, 113, 222, 0.1);
  border-radius: 4px;

  box-sizing: border-box;
  margin-bottom: 1em;
  transition: 0.4s;
}

.cards__card:hover {
  box-shadow: -4px -4px 20px rgba(120, 113, 222, 0.2),
    4px 4px 20px rgba(120, 113, 222, 0.2);
}

.cards__img {
  width: 30%;
  height: 60%;

  margin-left: 1em;
}

.cards__card path {
  transition: all 0.5s ease;
}

.cards__card:hover path {
  fill: var(--black-color) !important;
}

svg {
  width: 100%;
  height: 100%;
}

.cards__card-text {
  font-family: var(--font-bills-colombo);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 1em;
}

/* <--     Секция "С кинологом лучше"     -->*/

.better {
  background-color: var(--violet-color);

  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  padding-bottom: 1em;
}

.better__articles-wrap {
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.main-header--white {
  color: var(--main-bg-color);
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.better__article--long {
  max-width: 45%;
  flex: 30% 1 1;
}

.better__article--short {
  max-width: 30%;
  flex: 20% 1 1;
}

.better__header {
  font-family: var(--font-bills-colombo);
  color: var(--green-color);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.better__text {
  font-family: var(--font-bills-colombo);
  color: var(--main-bg-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

/* <--     Секция "Почему я"     -->*/
.why-me-section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.why-me-section__cards-wrap {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  height: max-content;
  gap: 25px;
}

.why-me-section__card {
  max-width: 25%;
  min-width: 23%;
  box-shadow: -4px -4px 20px rgba(120, 113, 222, 0.1),
    4px 4px 20px rgba(120, 113, 222, 0.1);
  border-radius: 4px;

  padding: 30px;
  margin-top: 2em;
}

.why-me-section__card--short {
  min-height: 45vh;
}

.why-me-section__header {
  font-family: var(--font-bills-colombo);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: var(--dark-blue);
}

.why-me-section__second-header {
  font-family: var(--font-bills-colombo);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;

  margin-top: 0.5em;
  margin-bottom: 0.5em;

  color: var(--text-violet);
}

.why-me-section__text {
  font-family: var(--font-bills-colombo);
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.why-me-section__emphasis {
  font-family: var(--font-seoul-hangang);
  color: var(--text-violet);
}

.why-me-section__card:hover {
  box-shadow: -4px -4px 20px rgba(120, 113, 222, 0.2),
    4px 4px 20px rgba(120, 113, 222, 0.2);
}

.why-me-section__signature {
  font-family: var(--font-bills-colombo);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;

  color: var(--blue-color);
}
/* <--     Блок этапы дрессировки     -->*/

.steps {
  min-height: 55vh;
  margin-top: 2em;

  background-image: url("../assets/imgs/Line.png");
  background-repeat: no-repeat;
  background-position-y: 26.5vh;
  background-position-x: center;
  background-size: 120%;
}

.main-header--centered {
  max-width: 1000px;
  margin: 1.5em auto 1em auto;
}

.steps__wrap {
  max-width: 1000px;
  min-height: 55vh;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.steps__card {
  flex: 25% 1 1;
  min-height: 50%;
  min-width: 21%;
  max-width: 23%;
}

.steps__card--align-self-start {
  align-self: flex-start;
}

.steps__card--align-self-end {
  align-self: center;
}

.steps__number {
  font-family: var(--font-seoul-hangang);
  color: var(--green-color);
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin: 0;

  transition: all 0.5s ease;
}
.steps__number:hover {
  color: var(--text-violet);
}

.steps__text {
  font-family: var(--font-bills-colombo);

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

/* <--    Форма связи     -->*/

.form {
  background-color: var(--violet-color);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3em;
  margin-top: 3em;
}

.form__fieldset,
.form__acess {
  min-width: 500px;
  border: none;
}

.form__acess {
  margin: 0.5rem 0;
  color: var(--main-bg-color);
}

.form__field {
  display: block;
  box-sizing: border-box;
}

.form__input {
  display: block;
  width: 70%;
  margin: 1em auto;
  height: 3.2em;
  overflow: hidden;
  background: #ffffff;

  border: 1px solid #09035d;
  border-radius: 4px;
}

.form__input:focus {
  border: 2px solid #9fdb3d;
}

.form__button {
  display: block;
  margin-bottom: auto;
  margin-top: 1.1em;
  width: 100%;
  height: 4.2em;
  padding-left: 30px;
  padding-right: 30px;
}
.form__terms {
  font-family: var(--font-bills-colombo);
  color: var(--main-bg-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form__emphasis {
  color: var(--main-bg-color);
  text-decoration: none;
}
.form__emphasis:hover {
  color: var(--green-color);
}

.test-wrap {
  width: 50%;
}

/* <--    Блок "Чему обучу"     -->*/

.goals {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.inline {
  display: inline-block;
  position: relative;
}

.goals__line-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.goals__line {
  max-width: 78%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.goals__text {
  font-family: var(--font-bills-colombo);
  color: var(--dark-blue);
  margin-top: 0;
  margin-bottom: 0;
}

.goals__text--small {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.goals__text--big {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
}

.goals__first-goals {
  display: flex;
  align-items: end;
  font-family: var(--font-bills-colombo);
  font-style: normal;
  max-width: 78%;
  margin-right: auto;
  margin-left: auto;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--blue-color);
}

.goals__last-goals {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-bills-colombo);
  font-style: normal;
  max-width: 70%;
  margin-left: 21%;
  margin-right: auto;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--blue-color);
}

.goals__goal-name {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 20%;
}

.goal__goal-name--small {
  font-size: 15px;
}

.goals__goal-name--margin-right {
  margin-right: 27%;
}

.goals__goal-name--long {
  margin-right: 5%;
  min-width: 30%;
  margin-top: 1em;
}

/* <--    Блок "Ответы на частые вопросы"     -->*/

.answers {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4em;
}

.answers__wrap {
  max-width: 77%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
}

.card {
  border: 1px solid var(--blue-color);
}
.card-header {
  background-color: var(--main-bg-color) !important;
  border-bottom: 1px solid var(--blue-color);
}

.answers__question-text {
  font-family: var(--font-bills-colombo);
  color: var(--blue-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.answers__answer-text {
  font-family: var(--font-bills-colombo);
  color: var(--dark-blue);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

/* <--    Footer     -->*/

.footer {
}

/* <--         -->*/
